:root {
  --clr-primary: rgb(20, 20, 20);
  --clr-primary-inverted: rgb(239, 239, 239);

  --clr-code-primary: #dcd7ba;
  --clr-code-primary-inverted: #1f1f28;

  --font-title: 'Libre Caslon Condensed', Georgia, serif;
  --font-monospace: 'Commit Mono', monospace;
  --font-prose: 'Tiempos Text', 'EB Garamond', serif;

  --text-indent-size: 6rem;

  --nav-height: 3.6rem;
  --side-gutters: 1.8rem;
}
