---
import BaseLayout from '../../layouts/BaseLayout.astro'

import type { APIContext } from 'astro'
import { getCollection } from 'astro:content'
import { emphasizePreps, formatRawDate } from '../../utils'

import hijackFootnotes from '../../utils/hijack-footnotes.ts?client:load'

export async function getStaticPaths() {
  const notes = await getCollection('notes')
  return notes.map(note => ({ params: { slug: note.slug }, props: { note } }))
}

const { note } = Astro.props
const { Content } = await note.render()
---

<BaseLayout showScrollProgress>
  <Fragment name="head">
    <title>{note.data.title} | Melinda Chang</title>
  </Fragment>
  <div class="wrapper">
    <article class="note">
      <span class="note__meta">Note // {formatRawDate(note.data.date)}</span>
      <h1 class="note__title">{note.data.title}</h1>
      <div class="note__body">
        <Content />
      </div>
    </article>
  </div>
</BaseLayout>

<style lang="scss">
  .wrapper {
    position: relative;
    min-height: 100vh;

    width: 100%;
    padding: 2.4rem calc(25% + 3.6rem);
  }

  .note {
    width: 100%;
    overflow: hidden;
    padding-top: 2.4rem;

    &__meta {
      text-transform: uppercase;
      font-family: var(--font-monospace);
      font-size: 1.3rem;
    }

    &__title {
      width: 65%;
      font-family: var(--font-title);
      font-size: calc(40.988px + 0.753012svw);
      line-height: 0.95;
      letter-spacing: -0.03em;
      padding: 4rem 0;
    }
  }
</style>
